@import "./fonts.css";
@import "./colors.css";
@import "tailwindcss";

@layer utilities {
  :root {
    --animate-slideUp: slideUp 1.5s ease-in-out forwards;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
